* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.constants {
  height: 100vh;
  width: calc(100% / 3);
  float: left;
}

.col1 {
  background-color: blue;
}

.col2 {
  background-color: teal;
}

.col3 {
  background-color: yellow;
  height:80vh;
}


.image_placeholder {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  float: left;
  height: 20vh;
  width: calc(100% /3);
  background-color: red;
  padding-top: 75px;
  border: 0px, 10px, 0px, 10px;

}
